.box{
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(51, 51, 51, 0.5);
    min-height: 1px;
    min-width: 50%;
    width: 700px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
}
h1{
    color: $color-1;
    font-weight: bold;
}
h2{
    color: $color-1;
}
#email::placeholder{
    font-weight: bold;
}
#password::placeholder{
    font-weight: bold;
}
.coteDroit{
    transform: translate(+50%);
}
.coteGauche{
    transform: translate(-50%);
    top:20%;
}
input{
    border-color: $color-1;
    border-radius:4px;
    border-width: 1px;
    padding: 5px;
    min-width: 300px;
    box-shadow: 0px 1px 2px 0px rgba(51, 51, 51, 0.5);
}
.boutonConnexion{
  border: none;
  border-radius: 2px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 15px;
  width: 250px;
  height: 10px;
  margin: 30px auto;
  text-align: center;
  background: #9AD0EC;
}
.lien{
    margin: 20px 0px 0px 0px;
    font-style: italic;
    font-size: small;
}
a:hover
{
    text-decoration:underline;
    color: #11468F;
}
