img{
    align-items: center;
}
.ligne1{
    text-align: center;
    margin-top: 5%;
}
.ligne2{
    text-align: center;
    margin-top: 10%;
}
p{
    font-weight: bold;
}
.texte{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.texteCours{
    margin-right: 160px;
}
.texteVisio{
    margin-left: 135px;
}
.texteAvatar{
    transform: translate(-120%);
}
.texteJeux{
    transform: translate(+240%);
}
